<table id="employeeTable" class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Salary</td>
            <td>Position</td>
            <td>Mobile</td>
            <td>
                <a href="{% url 'app:employee_new' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for employee in employee_list %}
            <tr>
                <td>{{employee.first_name}}</td>
                <td>{{employee.last_name}}</td>
                <td>{{employee.salary}}</td>
                <td>{{employee.position}}</td>
                <td>{{employee.mobile}}</td>
                <td>
                    <a href="{% url 'app:employee_update' employee.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'app:employee_delete' employee.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>